@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/_rinnegan/fonts/JetBrainsMonoNerdFontMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/_rinnegan/fonts/JetBrainsMonoNerdFontMono-Bold.woff2') format('woff2');
}
